[Unit]
Description="Controle de Temperatura da GPU NVIDIA"
After=multi-user.target

[Service]
Type=forking
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/thiago/.Xauthority"
ExecStart=/home/thiago/Documents/_Projetos/_NVIDIA/controle_de_temperatura_nvidia.sh
TimeoutStartSec=0
TimeoutStopSec=30

[Install]
WantedBy=default.target